<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Steven Potts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">C# Exercises <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Max of Five", "Max", "Exercises")</li>
                        <li>@Html.ActionLink("Sum", "Sum", "Exercises")</li>
                        <li>@Html.ActionLink("Multiply", "Multiply", "Exercises")</li>
                        <li>@Html.ActionLink("Factorial", "Factorial", "Exercises")</li>
                        <li>@Html.ActionLink("Palindrome", "Palindrome", "Exercises")</li>
                        <li>@Html.ActionLink("FizzBuzz", "FizzBuzz", "Exercises")</li>
                        <li>@Html.ActionLink("Perfect Numbers", "PerfectNumbers", "Exercises")</li>
                        <li>@Html.ActionLink("Happy Numbers", "HappyNumbers", "Exercises")</li>
                        <li>@Html.ActionLink("Find Longest Word", "FindLongestWord", "Exercises")</li>
                        <li>@Html.ActionLink("Total Alice", "TotalAlice", "Exercises")</li>
                    </ul>
                    </li>
                    <li>@Html.ActionLink("Test", "Test", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
